<div class="responsive-fit">
  <div class="slider-front">
    <div class="slide"><img src="/img/frontpage/f-1.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-2.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-3.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-4.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-5.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-6.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-7.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-8.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-9.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-10.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-11.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-12.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-13.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-14.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-15.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-16.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-17.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-18.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-19.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-20.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-21.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-22.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-23.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-24.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-25.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-26.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-27.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-28.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-29.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-30.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-31.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-32.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-33.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-34.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-35.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-36.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-37.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-38.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-39.jpg"></div>
    <div class="slide"><img src="/img/frontpage/f-40.jpg"></div>
  </div>
  <!-- <ul class="slider-auto">
    <li><img src="/img/frontpage/f-1.jpg" alt=""></li>
    <li><img src="/img/frontpage/f-2.jpg" alt=""></li>
    <li><img src="/img/frontpage/f-3.jpg" alt=""></li>
    <li><img src="/img/frontpage/f-4.jpg" alt=""></li>
    <li><img src="/img/frontpage/f-5.jpg" alt=""></li>
    <li><img src="/img/frontpage/f-6.jpg" alt=""></li>
  </ul> -->
</div>
