<div class="responsive-fit">
  <div class="slider-front">
    <div class="slide"><img src="http://res.cloudinary.com/mwong9968/image/upload/v1508106615/highland-8511/f-1.jpg"></div>
    <div class="slide"><img src="http://res.cloudinary.com/mwong9968/image/upload/v1508106615/highland-8511/f-2"></div>
    <div class="slide"><img src="http://res.cloudinary.com/mwong9968/image/upload/v1508106615/highland-8511/f-3"></div>
    <div class="slide"><img src="http://res.cloudinary.com/mwong9968/image/upload/v1508106615/highland-8511/f-7"></div>
    <div class="slide"><img src="http://res.cloudinary.com/mwong9968/image/upload/v1508106615/highland-8511/f-8"></div>
    <div class="slide"><img src="http://res.cloudinary.com/mwong9968/image/upload/v1508106615/highland-8511/f-9"></div>
    <div class="slide"><img src="http://res.cloudinary.com/mwong9968/image/upload/v1508106615/highland-8511/f-10"></div>
    <div class="slide"><img src="http://res.cloudinary.com/mwong9968/image/upload/v1508106615/highland-8511/f-11"></div>
    <div class="slide"><img src="http://res.cloudinary.com/mwong9968/image/upload/v1508106615/highland-8511/f-12"></div>
    <div class="slide"><img src="http://res.cloudinary.com/mwong9968/image/upload/v1508106615/highland-8511/f-15"></div>
  </div>
  <!-- <ul class="slider-auto">
    <li><img src="/img/frontpage/f-1.jpg" alt=""></li>
    <li><img src="/img/frontpage/f-2.jpg" alt=""></li>
    <li><img src="/img/frontpage/f-3.jpg" alt=""></li>
    <li><img src="/img/frontpage/f-4.jpg" alt=""></li>
    <li><img src="/img/frontpage/f-5.jpg" alt=""></li>
    <li><img src="/img/frontpage/f-6.jpg" alt=""></li>
  </ul> -->
</div>
