<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="Portraits,LinkedIn,Photography,Portrait,Professional,Imagery">
    <title>{% if page.title %} {{page.title}} | Highland Portraits {% endif %} {% if page.titleAfter %} Highland Portraits | A Boutique Photography Studio based in North Berkeley {% endif %}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Lato|Raleway:300i" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/mobile.css"/>
    <link rel="stylesheet" href="/css/bxslider.css"/>
    <link rel="stylesheet" href="/css/gallery.css">
    <link rel="stylesheet" href="/css/gallery-modal.css">
    <link rel="shortcut icon" type="image/png" href="/img/admin/favicon.png"/>
    <script src="https://code.jquery.com/jquery-1.12.1.js"></script>
    <script src="/js/bxslider.js"></script>
    <script src="/js/homepage.js"></script>
    <script src="/js/site.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91640767-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-91640767-3');
    </script>
  </head>
  <body>
    {% include header.html %}

    {{content}}

    <footer class='footer'>
      {% include footer.html %}
    </footer>
  </body>
</html>
